# Data Cleaning and Preprocessing â€“ Iris Dataset

## Objective
The objective of this task is to clean, preprocess, and prepare the Iris dataset for machine learning by handling data quality issues, encoding categorical variables, and scaling numerical features.

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, LabelEncoder

In [6]:
df = pd.read_csv(r"E:\SUMED_DATA\CODVEDA - INTERNSHIP\1) iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Dataset Overview
The Iris dataset contains measurements of iris flowers and is commonly used for classification problems. It includes numerical features describing flower dimensions and a categorical target variable representing species.

In [7]:
df.shape

(150, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Initial Observations
- The dataset consists of rows and columns representing samples and features respectively.
- Data types were inspected to identify numerical and categorical variables.
- Summary statistics were reviewed to understand feature ranges and distributions.

In [10]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Missing Value Analysis
The dataset was examined for missing values. No missing values were detected, indicating that the dataset is complete and does not require imputation.

In [11]:
df.duplicated().sum()

np.int64(3)

In [12]:
df = df.drop_duplicates()

### Duplicate Records
Duplicate records were checked to ensure data integrity. Duplicate rows were removed where applicable.

In [13]:
numeric_cols = df.select_dtypes(include=np.number)

Q1 = numeric_cols.quantile(0.25)
Q3 = numeric_cols.quantile(0.75)
IQR = Q3 - Q1

outliers = ((numeric_cols < (Q1 - 1.5 * IQR)) | 
            (numeric_cols > (Q3 + 1.5 * IQR))).sum()

outliers

sepal_length    0
sepal_width     4
petal_length    0
petal_width     0
dtype: int64

### Outlier Detection
The Interquartile Range (IQR) method was applied to detect potential outliers. Since the Iris dataset is well-balanced and curated, no extreme outliers requiring removal were observed.

In [14]:
le = LabelEncoder()
df['species'] = le.fit_transform(df['species'])

### Encoding Categorical Variables
The target variable (species) was converted into numerical format using Label Encoding to make it suitable for machine learning algorithms.

In [15]:
X = df.drop('species', axis=1)
y = df['species']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled = pd.DataFrame(X_scaled, columns=X.columns)
X_scaled.head()

   sepal_length  sepal_width  petal_length  petal_width
0     -0.915509     1.019971     -1.357737      -1.3357
1     -1.157560    -0.128082     -1.357737      -1.3357
2     -1.399610     0.331139     -1.414778      -1.3357
3     -1.520635     0.101529     -1.300696      -1.3357
4     -1.036535     1.249582     -1.357737      -1.3357

### Feature Scaling
Numerical features were standardized using StandardScaler to ensure all features contribute equally to model training.

In [16]:
X_scaled.describe()

       sepal_length   sepal_width  petal_length   petal_width
count  1.470000e+02  1.470000e+02  1.470000e+02  1.470000e+02
mean  -4.833624e-17  1.691768e-16 -2.416812e-16 -3.383537e-16
std    1.003419e+00  1.003419e+00  1.003419e+00  1.003419e+00
min   -1.883710e+00 -2.424189e+00 -1.585902e+00 -1.468099e+00
25%   -9.155095e-01 -5.873036e-01 -1.243654e+00 -1.203301e+00
50%   -6.833389e-02 -1.280822e-01  3.535005e-01  1.206904e-01
75%    6.578166e-01  5.607500e-01  7.527893e-01  7.826860e-01
max    2.473193e+00  3.086468e+00  1.779532e+00  1.709480e+00

In [ ]:
y.value_counts()

species
1    50
2    49
0    48
Name: count, dtype: int64

## Final Summary
The Iris dataset was thoroughly inspected and prepared for machine learning applications. Data quality checks confirmed the absence of missing values, while duplicate records were identified and removed. Outlier detection using the IQR method revealed no extreme values requiring treatment. The categorical target variable was encoded using Label Encoding, and numerical features were standardized using StandardScaler to ensure uniform feature contribution. The resulting dataset is clean, normalized, and suitable for downstream exploratory analysis and classification modeling.